.settings-title button {
    background: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    border-radius: 10px;
    transition: width 0.5s, background-color 0.5s;
    overflow: hidden
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.settings_menu hr {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--sixth-color);
}

.settings-menubar {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    height: 63vh;
    border-right: 1px solid var(--sixth-color);
    margin-top: -4.3vh;
    padding-top: 10px;


}

.settings-title button:hover {
    background-color: var(--danger-color);
    width: 60px;
}

.settings-title button svg:first-child {
    width: 15px;
    height: 15px;
    fill: var(--icon-color);
    background: none;
    margin-right: 5px;
    position: absolute;
    opacity: 1;
    margin-left: 0;
    transition: opacity 0.2s, margin-left 0.2s;
}

.settings-title button:hover svg:first-child {
    opacity: 0;
    margin-left: -50px;

}

.settings-title button span {
    opacity: 0;
    font-size: 12px;
    color: white;
    font-weight: 600;
    transition: opacity 0.5s;
}

.settings-title button:hover span {
    display: inline;
    opacity: 1;
}


.settings-title {
    margin-top: 10px;
}

.settings-title p {
    padding: 0;
    margin: 0;
}

.settings-title button svg path {
    width: 15px;
    height: 15px;
    fill: white;
    background: none;

}

.settings-title {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: var(--color-bg);
    box-sizing: border-box;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    color: var(--color-text);
}

* {
    font-family: var(--main-font);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

#article-content a {
    color: var(--primary-color);
    cursor: pointer;
}

#article-content a:hover {
    color: var(--primary-color);
    text-decoration: underline;

}

svg path, svg path g {
    transition: stroke 0.5s, fill 0.5s;
}

.btn {
    border-radius: 1000px;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-family: var(--main-font);
    transition: background-color 0.5s;
}

.main-navbar {
    margin: 22px auto 0 auto;
    width: 95vw;
    height: 72px;
    display: flex;
    align-self: center;
    justify-self: center;
    position: relative;

}

.fixed-navbar .main-navbar {
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    top: 0;
    height: max-content;
}

button {
    border: none;
    fill: var(--button-text);
    color: var(--button-text);
    cursor: pointer;

    transition: background-color 0.5s;
}

.nav-main,
.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-logo svg {
    width: 146px;
    height: 34px;
}

.main-nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.nav-link {
    font-size: 12px;
    font-weight: 300;
    margin-right: 24px;
}

.nav-links {
    margin-left: 40px;

}

.settings-button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
    background-color: var(--button-bg);
    cursor: pointer;
    

}

.settings-button svg, .settings-button svg path{
    fill: var(--button-text);
}

.btn35 {
    color: var(--button-text);
    background-color: var(--button-bg);
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 1000px;
    font-size: 12px;
    padding: 0 18px;
}

.vl-nav {
    width: 100%;
    height: 1px;
    background-color: var(--hr-nav-color);
    margin-top: 16px;
    margin-bottom: 4px;
}

.page-name {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 11px;

}

.btn:hover {
    background-color: var(--button-bg-hover);
}

.btn40 {
    height: 40px;
    background-color: var(--button-bg);
    color: var(--button-text);
    width: fit-content;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 1000px;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
    padding: 0;
    margin: 0;
    width: fit-content;
}

.settings-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overflow-bg-color); 
    align-items: center;
    justify-content: center;
    z-index: 10000;
    backdrop-filter: blur(0px);
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: blur 0.5s, opacity 0.5s;
}

.settings-box {
    width: 60vw;
    height: 70vh;
    background-color: var(--menu-box-bg-color);
    border-radius: 25px;
    overflow: hidden;
    opacity: 0;
    filter: blur(100px);
    display: none;
    margin-bottom: 50px;
    transition: opacity 0.5s, filter 0.5s, margin-bottom 0.5s;

}

.smenu-enabled {
    display: flex;
    backdrop-filter: blur(10px);
    opacity: 1;
}

.enabled {
    display: block;
    opacity: 1;
    filter: blur(0px);
    margin-bottom: 0;
}

.menubar-button {
    background-color: var(--menubar-bg-color);
    border: none;
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
    padding-left: 15px;
    margin-bottom: 10px;
    fill: var(--icon-color);
    transition: background-color 0.2s;
}

.current-menubtn {
    background-color: var(--fourth-color);
}

.settings-menubar button:hover {
    background-color: var(--fourth-color);
    cursor: pointer;
}

.settings-menubar svg, .settings-menubar svg * {
    margin: 0;
    padding: 0;
    fill: var(--icon-color);
}

.settings-menu button p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.main-settings-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}



.main-settings-options {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    padding-left: 10px;
    width: 100%;  
    display: none;
}

.settings-option-current {
    display: block;
}

.main-settings-options h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: -15px;
    margin-bottom: 10px;
    color: var(--color-text);
}

.option-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

select {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--select-bg-color);
    backdrop-filter: blur(20px);
    color: white;
    border: 1px solid var(--fifth-color);
    transition: border 0.2s;

    &,
    &::picker(select) {
        -webkit-appearance: base-select;
        -moz-appearance: base-select;
        appearance: base-select;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--select-bg-color);
        backdrop-filter: blur(20px);
        color: var(--color-text);
        border: 1px solid var(--fifth-color);
        
    }
}

option {
    transition: margin-left 0.2s ease;
}

option:checked {
    color: var(--color-text);
}

option:hover {
    margin-left: 5px;
}

select:hover {
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.settings-menu {
    user-select: none;
}

.theme-selector {
    display: flex;
    gap: 1rem;
}

.theme-option {
    position: relative;
    cursor: pointer;
}

.theme-option input[type="radio"] {
    display: none;
}

.theme-option img {
    width: 100px;
    height: auto;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.theme-option input[type="radio"]:checked+img {
    border: 2px solid var(--primary-color);
}

.save-settings-btn {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

* {
    transition: background 0.7s ease, background-color 0.7s ease, fill 0.2s ease, color 0.7s ease, border 0.7s ease;
}

.settings-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.settings-menu.enabled {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.settings-content {
  background: var(--background, #fff);
  color: var(--text, #000);
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  transform: translateY(-50px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.settings-menu.enabled .settings-content {
  transform: translateY(0);
  opacity: 1;
}

.close-settings {
  background: transparent;
  border: none;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.overflow-action-btn {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: default;
    opacity: 0;
}

.main-container {
    margin: 0 auto;
    max-width: 1519px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid red
}

footer {
    width: 100%;
    height: 410px;
    background-color: var(--footer-bg-color);
    box-sizing: border-box;
    margin-top: 200px;
}


footer svg {
    width: 146px;
}

.footer-logo p {
    font-size: 10px;
    font-weight: 200;
    margin-top: -1px;
    user-select: none;
}

.footer-links {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.footer-link {
    color: var(--footer-text-color);
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: var(--footer-text-color-hover);
}

.main-footer-content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-hotline {
    margin-bottom: 50px;
    margin-top: 0;
}

.hotline-number {
    color: var(--danger-color);
    font-size: 36px;
    font-weight: 600;
}

.footer-hotlines {
    margin: 0;
    margin-top: -10px;
}

.footer-hotline p {
    margin: 0;
    padding: 0;
}

.hotline-name {
    font-size: 14px;
    font-weight: 300;
}

.footer-content {
    padding: 30px;
    
}

#fontSizeInput {
    background-color: none;
    font-size: 22px;
    background: none;
    color: var(--color-text);
    border: none;
}

.numberInputSelector {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.numberInputSelector svg g{
    fill: var(--icon-color);
    padding: 0;
    margin: 0;
}

.numberInputSelector svg {
    width: 20px;
    padding: 0;
    margin: 0;
}

.numberInputSelector p {
    padding: 0;
    margin: 0;
}

.numberInputSelector button {
    width: min-content;
    background-color: none;
    background: none;
}

.numberInputSelector button:last-child {
    transform: rotate(-180deg);
}

h1, h2, h3 {
    font-family: var(--header-font);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-weight: 900;
    margin-top: 50px;
}

hr {
  border-color: var(--secondary-color);
  margin-bottom: 30px;
}

.main-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1050px) {
    .main-navbar {
        width: 90vw
    }

    .nav-links {
        display: none;
    }

    .footer-hotlines:last-child {
        display: none;
    }

    .footer-links:first-child {
        display: none;
    }
}

@media (max-width: 450px) {
    .nav-buttons {
        display: none;
    }

    .footer-hotlines {
        display: none;
    }
}

.fixed-navbar {
    position: fixed;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    border-bottom: 1px var(--border-color) solid;
    z-index: 1002;
    background: var(--color-bg);
}

.profile-picture {
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    border-radius: 50%;
    position: relative;
    
}

.profile-dropdown-arrow {
    display: flex;
    align-self: center;
    margin-top: -5px;
    margin-right: 5px;
}

.profile-dropdown {
    background: none;
    margin: 0;
    padding: 0;
}

.profile-dropdown-choice {
    background: none;
    color: var(--color-text);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0;
    left: 0;
    
}
.profile-dropdown-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown-menu {
    padding: 5px;
    backdrop-filter: blur(20px);
    top: 12px;
    right: -30px;
    z-index: 2000;
    border-radius: 15px;
    overflow: hidden;
    opacity: 1;
    scale: 0.85;
    pointer-events: none;
    display: none;
    will-change: transform, opacity;
}

.profile-dropdown-menu.hide {
  display: block;
  animation: bubble-pop 1.8s cubic-bezier(0.22, 1.2, 0.36, 1) reverse forwards;
  animation-fill-mode: forwards;
}

.profile-dropdown-menu.show {
  display: block;
  pointer-events: all;
  animation: bubble-pop 0.7s cubic-bezier(0.22, 1.2, 0.36, 1) forwards;
  animation-fill-mode: forwards;
}

.profile-dropdown-menu ul li button {
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4px;
    
}

.profile-dropdown-menu ul li button:hover {
    background: color-mix(in srgb, var(--color-text) 10%, transparent);
}

.dropdown-basis {
  position: absolute;
  border-radius: 15px; /* твоє заокруглення */
  padding: 1rem;
  background: color-mix(in srgb, var(--secondary-color) 50%, transparent) border-box;
  backdrop-filter: blur(20px);
  z-index: 1000000000000000000000;
}

.dropdown-basis::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 0.5px; /* товщина “бордера” */
  background: linear-gradient(
    to bottom left,
    var(--border-outline-color) 0%,
    color-mix(in srgb, var(--border-outline-color) 50%, transparent) 10%,
    color-mix(in srgb, var(--border-outline-color) 0%, transparent) 75%,
    var(--border-outline-color) 100%
  );
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* щоб не перекривало кліки */
}

@keyframes bubble-pop {
  0% {
    transform-origin: center top;
    opacity: 0;
    background-color: color-mix(in srgb, var(--secondary-color) 0%, transparent) border-box;
    transform: scale(0) translate(100px);
    filter: blur(5px)
  }
  10% {
    transform: scaleY(0.1), scaleX(0.1);
    background-color: color-mix(in srgb, var(--secondary-color) 25%, transparent) border-box;
    
  }
  25% {
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    transform: scaleY(1.1), scaleX(1.1);
    background: color-mix(in srgb, var(--secondary-color) 50%, transparent) border-box;
    margin-top: 20px;
    margin-right: 35px;
  }
}