html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {

    background: url("../img/backgrounds/main-bg-black.png") no-repeat left center fixed;
    background-size: 80%;
    width: 100vw;
    background-color: black;
}

.fixed-navbar {
    height: 75px;
    border: none;
    background: var(--third-color);

}


.dropdown-basis {
    backdrop-filter: blur(10px);
}


.homepage-menu {
    height: 60px;
    position: fixed;
    background-color: color-mix(in srgb, var(--secondary-color) 80%, transparent 20%);
    z-index: 10002;
    border-radius: 1000px;
    bottom: 15px;
    left: 15px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 4px;
    box-sizing: border-box;

}

.hmenu-item {
    padding: 10px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    position: relative;
    z-index: 10;

}

.hmenu-item.selected {
    background: var(--fourth-color);
    position: relative;
    backdrop-filter: blur(20px);
    z-index: 999;
}

.hmenu-item.selected::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 0.5px;
    background: linear-gradient(to bottom left,
            var(--border-outline-color) 0%,
            color-mix(in srgb, var(--border-outline-color) 100%, transparent) 10%,
            color-mix(in srgb, var(--border-outline-color) 0%, transparent) 75%,
            var(--border-outline-color) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.hmenu-item:not(.selected):hover {
    background: color-mix(in srgb, var(--fourth-color) 50%, transparent 50%);
}

.hmenu-item svg {
    height: 22px;
    width: 22px;
}

.hmenu-item svg path {
    width: max-content;
}

.liquid-bubble {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 65px;
    transform: translate(-50%, -50%) scale(1, 1);
    transform-origin: 50% 50%;
    pointer-events: none;
    opacity: 0;
    z-index: 40;
    transition: opacity 180ms ease;
    will-change: transform, left;
    border: none;
    border-radius: 1000px;

    backdrop-filter: url(#magnifying-glass-filter);
    z-index: 999999999999999999999999;
    display: flex;
    align-items: center;
    align-self: center;
    
    background: none;
    box-shadow: none;

    opacity: 0;
    mix-blend-mode: normal;
}

.liquid-bubble.resting {
    z-index: 5;
}

.homepage-menu.holding .hmenu-item.selected {
  background: transparent !important;
}

.homepage-menu.holding .hmenu-item.selected::before,
.homepage-menu.returning .hmenu-item.selected::before { display: none !important; }


.homepage-menu.holding .hmenu-item,
.homepage-menu.returning .hmenu-item {
    pointer-events: none;
}

.homepage-menu.bubble-resting .hmenu-item {
    pointer-events: auto;
}

.liquid-bubble.active {
    opacity: 1;
}

.homepage-menu.holding .hmenu-item.selected,
.homepage-menu.returning .hmenu-item.selected {
  background: transparent !important;
}
.hmenu-item.rested {
  background: var(--fourth-color);
  backdrop-filter: blur(8px);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}


